In [1]:
import sqlite3
conn = sqlite3.connect('mydb') #will connect if exists else create new
curs = conn.cursor() #cursor object

In [2]:
tblcmd = 'create table people (name char(30), job char(30), pay int)' #sql query
curs.execute(tblcmd)

In [3]:
ins_rec = curs.execute('insert into people values (?,?,?)', ('bob', 'wall', 24))
ins_rec = curs.executemany('insert into people values (?,?,?)', [('bob', 'builder', 24), ('ramu', 'naukar', 24)])

In [4]:
conn.commit() #commit in database